<noautolink>
<?xml version="1.0" encoding="%CHARSET%" ?>
%IF{"istopic 'Applications.RssViewTemplate'"
  then="<?xml-stylesheet href=\"%PUBURLPATH%/Applications/RssViewTemplate/pretty-feed.xsl\" type=\"text/xsl\" ?>"
}%<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>%ENCODE{"%URLPARAM{"title" default="%WIKITOOLNAME% - Comments on %GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%"}%"}%" type="html"}%</title>
  <link>%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%</link>
  <description>%MAKETEXT{"Comments"}%</description>
  <atom:link href="%SCRIPTURL{"view" topic="%WEB%.%TOPIC%"}%" rel="self" type="application/rss+xml" />
  <dc:source>%WIKITOOLNAME%</dc:source>
  <image>
    <url>%WEBLOGOIMG{default="%WIKILOGOIMG%"}%</url>
    <title>%ENCODE{"%URLPARAM{"title" default="%WIKITOOLNAME% - Comments on %GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%"}%"}%" type="html"}%</title>
    <link>%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%</link>
  </image>
  <language>en-us</language>
  <copyright>%WEBRSSCOPYRIGHT%</copyright>
%METACOMMENTS{
  web="%URLPARAM{"web" default="%BASEWEB%"}%"
  sort="date"
  reverse="on"
  limit="%URLPARAM{"limit" default="10"}%"
  %IF{"defined search" then="search=\"$percntURLPARAM{\"search\" encode=\"off\"}$percnt\""}%
  %IF{"$COMMENTMODERATION='on'" then="moderation=\"on\"" else="moderation=\"off\""}%
  format="<item>
  <title>$titleOrText</title>
  <link>%SCRIPTURL{"view"}%/$web/$topic#comment$id</link>
  <guid>%SCRIPTURL{"view"}%/$web/$topic#comment$id</guid>
  <dc:creator>$percntGETTOPICTITLE{\"%USERSWEB%.$author\"}$percnt</dc:creator>
  <dc:date>$isodate</dc:date>
  <description> <![CDATA[ $text ]]></description>
</item>"
  separator="$n"
}%
</channel>
</rss>
</noautolink>
