%{ ################################################################################ 
   metacomments - entry point
}%
%TMPL:INCLUDE{"edittoolbar"}%
%TMPL:DEF{"comments::topic"}%%URLPARAM{"commentstopic" default="%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"metacomments"}%<noautolink>
%CLEAR%
<div id='comments' class='cmtComments cmtStyle_%IF{"defined COMMENTFORMAT" then="%COMMENTFORMAT%" else="%TMPL:P{"comments::format::default"}%"}% cmtState_%IF{"defined COMMENTSTATE" then="%COMMENTSTATE%" else="open"}% cmtModeration_%IF{"defined COMMENTMODERATION" then="%COMMENTMODERATION%" else="off"}%' data-topic="%TMPL:P{"comments::topic"}%">
%TMPL:P{"comments::topbar"}%%{}%
%IF{"$COMMENTFORMAT=~'reverse|insidetab' and $COMMENTSTATE!='closed'" 
  then="$percntTMPL:P{\"comments::add::simple\"}$percnt"
}%%TMPL:P{"comments::list"}%%{}%
%IF{"not $COMMENTFORMAT=~'reverse|insidetab' and $COMMENTSTATE!='closed'" 
  then="$percntTMPL:P{\"comments::add::default\"}$percnt"
}%</div>
</noautolink>%TMPL:END%
%TMPL:DEF{"textarea::spellcheck"}%%NATEDIT_SPELLCHECK{default="true"}%%TMPL:END%
%TMPL:DEF{"textarea::metadata"}%data-show-toolbar='true' data-show-fullscreen='true' data-toolbar='comments::toolbar'%TMPL:END%

%TMPL:DEF{"comments::toolbar"}%
%TMPL:P{"edittoolbar::start"}%
%TMPL:P{"edittoolbar::right"}%
%TMPL:P{"edittoolbar::typobuttons"}%
%TMPL:P{"edittoolbar::typomenu"}%
%TMPL:P{"edittoolbar::listbuttons"}%
%TMPL:P{"edittoolbar::end"}%
%TMPL:END%

%TMPL:DEF{"edittoolbar::typobuttons"}%<div class="ui-natedit-buttons ui-natedit-typo-buttons">
  <a class="ui-natedit-bold" href="#" title="%MAKETEXT{"Bold"}%" data-markup="boldMarkup"><i class="fa fa-bold"></i></a>
  <a class="ui-natedit-italic" href="#" title="%MAKETEXT{"Italic"}%" data-markup="italicMarkup"><i class="fa fa-italic"></i></a>
  <a class="ui-natedit-underline" href="#" title="%MAKETEXT{"Underline"}%" data-markup="underlineMarkup"><i class="fa fa-underline"></i></a>
  <a class="ui-natedit-menu-button ui-natedit-more-typo" href="#" title="%MAKETEXT{"More character formats"}%" data-menu=".ui-natedit-more-typo-menu"><i class="fa fa-font"></i></a>
  <a class="ui-natedit-remove-format" href="#" title="%MAKETEXT{"Remove Format"}%" data-handler="handleRemoveFormat"><i class="fa fa-eraser"></i></a>
</div>%TMPL:END%

%{ ################################################################################ 
   metacomments::init - loads all required css and js
}%
%TMPL:DEF{"metacomments::init"}%%JQREQUIRE{"metacomment, natedit, emoji, favicon" warn="off"}%%TMPL:END%

%{ ################################################################################ 
   metacomments::dialog - loads all required dialogs
}%
%TMPL:DEF{"comments::dialogs"}%%{}%
%TMPL:P{"comments::confirmdelete"}%%{}%
%TMPL:P{"comments::confirmdeleteall"}%%{}%
%TMPL:P{"comments::confirmapproveall"}%%{}%
%TMPL:P{"comments::confirmmarkall"}%%{}%
%TMPL:P{"comments::confirmapprove"}%%{}%
%TMPL:P{"comments::updater"}%%{}%
%TMPL:P{"comments::replier"}%
%{}%%TMPL:END%

%{ ################################################################################ 
   comments::topbar - renders the number of comments
}%
%TMPL:DEF{"comments::topbar"}%%{}%
%METACOMMENTS{
  %IF{"'%TMPL:P{"comments::topic"}%'='%WEB%.%TOPIC%'" 
    then="rev=\"%URLPARAM{"rev"}%\""
  }%
  topic="%TMPL:P{"comments::topic"}%"
  header="$percntTMPL:P{\"comments::topbar::rss\"}$percnt<h2 class='cmtCounter'>$count $percntTMPL:P{\"comments::topbar::toggle\"}$percnt</h2>"
  singular="%MAKETEXT{"One comment"}%"
  plural="%MAKETEXT{"[_1] comments" args="$count"}%"
  limit="1"
  template=""
  threaded="%IF{"'%TMPL:P{"comments::format"}%'='threaded'" 
    then="on" 
    else="off"
  }%"
  moderation="%IF{"$COMMENTMODERATION='on'" 
    then="on" 
    else="off"
  }%"
}%%CLEAR%%{}%%TMPL:END%

%TMPL:DEF{"comments::topbar::rss"}%<a href='%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%?template=metacommentsrss;contenttype=text/xml' class='cmtRssFeed foswikiGrayText foswikiSmallish foswikiHideOnPrint' title='%MAKETEXT{"RSS feed of the comments on this topic"}%'>%JQICON{"fa-rss"}% RSS</a>%TMPL:END%
%TMPL:DEF{"comments::topbar::toggle"}%<a href="#" class="jqTwisty foswikiGrayText foswikiSmall" data-target=".cmtGlobalControls">%JQICON{"fa-gear"}%</a>%TMPL:END%

%{ ################################################################################ 
   comments::add::denied - display a message why somebody can't comment
}%
%TMPL:DEF{"comments::add::denied"}%%IF{"context authenticated"
  then="%MAKETEXT{"Sorry, commenting not allowed."}%"
  else="%IF{"context registration_enabled"
    then="%MAKETEXT{"Please log in or register to comment."}%"
    else="%MAKETEXT{"Please log in to comment."}%"
  }%"
}%%TMPL:END%

%{ ################################################################################ 
   comments::add::default - constructing the form to add a new comment
}%
%TMPL:DEF{"comments::add::default"}%<div class="foswikiFormSteps foswikiHideOnPrint cmtAddComment">
%TMPL:P{"comments::formstart"}%%{}%
%TMPL:P{"comments::namestep::hidden"}%%{}%
%IF{"$'COMMENTSHOWTITLE'!='off'"
  then="$percntTMPL:P{\"comments::titlestep\"}$percnt"
}%%{}%
%TMPL:P{"comments::moresteps"}%%{}%
%TMPL:P{"comments::textstep" 
  ROWS="10" 
  PLACEHOLDER="%IF{"not context canComment" then="$percntTMPL:P{\"comments::add::denied\"}$percnt"}%"
}%%{}%
%TMPL:P{"comments::buttonstep"}%%{}%
%TMPL:P{"comments::formend"}%%{}%
</div>%TMPL:END%

%{ ################################################################################ 
   comments::add::simple - constructing the form to add a new comment, simple version
}%
%TMPL:DEF{"comments::add::simple"}%<div class="foswikiFormSteps foswikiHideOnPrint cmtAddComment">
%TMPL:P{"comments::formstart"}%%{}%
%TMPL:P{"comments::namestep::hidden"}%%{}%
%TMPL:P{"comments::moresteps"}%%{}%
%TMPL:P{"comments::textstep" 
  ROWS="5" 
  PLACEHOLDER="%IF{"not context canComment" then="$percntTMPL:P{\"comments::add::denied\"}$percnt" else="%MAKETEXT{"Add a comment"}%"}%"
}%%{}%
%TMPL:P{"comments::buttonstep"}%%{}%
%TMPL:P{"comments::formend"}%%{}%
</div>%TMPL:END%

%{ ################################################################################ 
   comments::format - returns the current format style 
}%
%TMPL:DEF{"comments::format"}%%COMMENTFORMAT{default="%TMPL:P{"comments::format::default"}%"}%%TMPL:END%
%TMPL:DEF{"comments::format::default"}%threaded%TMPL:END%

%{ ################################################################################ 
   comments::formats - list of available comment formats
}%
%TMPL:DEF{"comments::formats"}%linear=%MAKETEXT{"linear"}%, threaded=%MAKETEXT{"threaded"}%, reverse=%MAKETEXT{"reverse"}%, insidetab=%MAKETEXT{"inside tab"}%%TMPL:END%

%{ ################################################################################ 
   comments::list - renders a list of available comments
}%
%TMPL:DEF{"comments::list"}%%METACOMMENTS{
  %IF{"'%TMPL:P{"comments::topic"}%'='%WEB%.%TOPIC%'" 
    then="rev=\"%URLPARAM{"rev"}%\""
  }%
  topic="%TMPL:P{"comments::topic"}%"
  template="comments::format::%TMPL:P{"comments::format"}%"
  subtemplate="comments::format::%TMPL:P{"comments::format"}%::subcomment"
  %IF{"'%TMPL:P{"comments::format"}%' = 'threaded'" then="threaded=\"on\""}%
  %IF{"'%TMPL:P{"comments::format"}%' =~ 'reverse|insidetab'" then="reverse=\"on\""}%
  %IF{"$COMMENTMODERATION='on'" then="moderation=\"on\"" else="moderation=\"off\""}%
  header="<div class='cmtCommentsContainer $percntIF{\"$ismoderator\" then=\"cmtCommentsIsModerator\"}$percnt'>$percntTMPL:P{\"comments::list::controls\" ismoderated=\"$ismoderated\"}$percnt"
  footer="</div>"
}%%CLEAR%%TMPL:END%

%{ ################################################################################ 
   comments::list::controls - renders a list controls operating on all comments
}%
%TMPL:DEF{"comments::list::controls"}%<div class='cmtGlobalControls foswikiGrayText foswikiHideOnPrint'>
%TMPL:P{"comments::list::controls::markall"}%%{}%
%IF{"%ismoderated%" 
  then="$percntTMPL:P{\"comments::list::controls::approveall\"}$percnt
}%%{}%
%TMPL:P{"comments::list::controls::deleteall"}%%{}%
%CLEAR%
</div>%TMPL:END%

%TMPL:DEF{"comments::list::controls::markall"}%<a href='#cmtConfirmMarkAll' class='cmtMarkAll'>%JQICON{"fa-exclamation-circle"}% %MAKETEXT{"Mark as read"}%</a>%TMPL:END%
%TMPL:DEF{"comments::list::controls::approveall"}%<a href='#cmtConfirmApproveAll' class='cmtApproveAll'>%JQICON{"fa-certificate"}% %MAKETEXT{"Approve all"}%</a>%TMPL:END%
%TMPL:DEF{"comments::list::controls::deleteall"}%<a href='#cmtConfirmDeleteAll' class='cmtDeleteAll'>%JQICON{"fa-trash"}% %MAKETEXT{"Delete all"}%</a>%TMPL:END%

%{ ################################################################################ 
   comments::format::linear - format one comment in linear format
}%
%TMPL:DEF{"comments::format::linear"}%<div class='cmtCommentContainer clearfix cmtComment$evenodd%IF{"context authenticated and $isnew" then=" cmtCommentNew"}%%IF{"context authenticated and $isupdated" then=" cmtCommentUpdated"}%%IF{"$COMMENTMODERATION='on' and '$state'=~'\bunapproved\b'" then=" cmtCommentNeedsApproval"}%' id='cmtComment$index'>
  <div id='comment$id' class='cmtComment $percntIF{"$COMMENTMODERATION='on' and '$state'=~'\bunapproved\b'" then="cmtCommentNeedsApproval"}$percnt' data-comment-id="$id" data-index="$index" data-author="$percntGETTOPICTITLE{%USERSWEB%.$author}$percnt" data-date="$date">
    <h3 class='foswikiRight cmtCommentNr'>$index</h3>
    %TMPL:P{
      "comment::photo" 
      web="%USERSWEB%" 
      topic="%TMPL:P{"comment::author" author="$author"}%"
    }%%{}%
    %IF{"'%subcomment%'!='true'" 
       then="%TMPL:P{"comment::title"}%"
    }%%{}%
    %TMPL:P{"comment::text"}%%{}%
    %TMPL:P{"comment::controls"}%%{}%
    %TMPL:P{"comment::approval"}%%{}%
    %TMPL:P{"comment::info"}%%CLEAR%
  </div>
  <span id='bottomcomment$id'></span>
</div>%TMPL:END%

%{ ################################################################################ 
   comment::info - renders a line of infos for a comment 
}%
%TMPL:DEF{"comment::info"}%<span class='foswikiSmallish foswikiGrayText'>
  %TMPL:P{"comment::info::author"}%%{}%
  %TMPL:P{"comment::info::date"}%%{}%
  %TMPL:P{"comment::info::mark"}%%{}%
  %TMPL:P{"comment::info::vote"}%%{}%
  %TMPL:P{"comment::info::permalink"}%%{}%
</span>%TMPL:END%

%TMPL:DEF{"comment::info::author"}%<span class='cmtAuthor'>%IF{"istopic 
  '%USERSWEB%.$author'" 
  then="[[%USERSWEB%.$author]]</a>" 
  else="%IF{"'$authorurl'!=''" 
          then="[[$authorurl][%ENCODE{"$author" type="safe"}%]]" 
          else="%ENCODE{"$author" type="safe"}%"
        }%"
}%</span> &#124; %TMPL:END%

%TMPL:DEF{"comment::info::date"}%<span class='cmtDate'>$date</span>%TMPL:END%

%TMPL:DEF{"comment::info::mark"}%%IF{"context authenticated and context canComment and $isnew and '%WEB%.%TOPIC%' allows change"
    then="<span class='cmtMarkContainer'> &#124; %JQICON{"fa-exclamation-circle"}% <a href='#' class='cmtMark' title='%MAKETEXT{"Click to mark as read"}%'>%MAKETEXT{"new"}%</a></span>"
  }%%IF{"context authenticated and $isupdated and '%WEB%.%TOPIC%' allows change"
    then="<span class='cmtMarkContainer'> &#124; %JQICON{"fa-exclamation-circle"}% <a href='#' class='cmtMark' title='%MAKETEXT{"Click to mark as read"}%'>%MAKETEXT{"updated"}%</a></span>"
}%%TMPL:END%

%TMPL:DEF{"comment::info::vote"}%%IF{"$COMMENTVOTING!='off' and context LikePluginEnabled"
  then="$dollarpercntLIKE{header=\\" &#124; \\" theme=\\"simple\\" showlabel=\\"off\\" type=\\"COMMENT\\" id=\\"$id\\"}$dollarpercnt"
}%%TMPL:END%

%TMPL:DEF{"comment::info::permalink"}%%IF{"$COMMENTPERMLINK!='off'" 
  then=" &#124; <a class='cmtPermLink' href='$permlink'>%MAKETEXT{"permlink"}%</a>"
}%%TMPL:END%

%{ ################################################################################ 
   comment::title - renders the comment title
}%
%TMPL:DEF{"comment::title"}%%IF{"'%ENCODE{"$title" type="entity"}%'!=''" 
  then="<h3 class='clearfix'><noautolink>%ENCODE{"$title" type="entity"}%</noautolink></h3>"
}%%TMPL:END%

%{ ################################################################################ 
   comment::text - renders the comment text
}%
%TMPL:DEF{"comment::text"}%<div class='cmtCommentText'>$n$text</div>%TMPL:END%

%{ ################################################################################ 
   comment::approval - renders a note when this comment needs approval
}%
%TMPL:DEF{"comment::approval"}%$percntIF{"$COMMENTMODERATION='on' and '$state'=~'\bunapproved\b'"
  then="<div class='foswikiRight foswikiAlert cmtAlert'>(%MAKETEXT{"needs approval"}%)</div>"
}$percnt%TMPL:END%

%{ ################################################################################ 
   comment::controls - renders the comment tools
}%
%TMPL:DEF{"comment::controls"}%
  <div class='cmtControls'>
  %IF{"($ismoderator or '%ENCODE{"$author" type="safe"}%'='%WIKINAME%') and $COMMENTSTATE!='closed'" 
    then="<a href='#' class='cmtEdit' title='%MAKETEXT{"Edit this comment"}%'>%JQICON{"fa-pencil"}%</a>"
  }%%IF{"$COMMENTMODERATION='on' and $ismoderator and '$state'=~'\bunapproved\b'"
    then="<a href='#' class='cmtApprove' title='%MAKETEXT{"Approve this comment"}%'>%JQICON{"fa-certificate"}%</a>"
  }%%IF{"($ismoderator or '%ENCODE{"$author" type="safe"}%'='%WIKINAME%') and $COMMENTSTATE!='closed'" 
    then="<a href='#' class='cmtDelete' title='%MAKETEXT{"Delete this comment"}%'>%JQICON{"fa-trash"}%</a>"
  }%%{}%
</div>%TMPL:END%

%TMPL:DEF{"comment::reply"}%%IF{"context canComment and $COMMENTSTATE!='closed' and not ('%TMPL:P{"comments::format"}%' =~ 'reverse|insidetab')" 
  then="$dollarpercntBUTTON{\\"%MAKETEXT{"Reply"}%\\" 
          icon=\\"fa-comment\\" 
          align=\\"right\" 
          class=\\"cmtReply simple\\" 
          title=\\"%MAKETEXT{"Comment on this thread"}%\\"
        }$dollarpercnt"
}%%TMPL:END%

%{ ################################################################################ 
   comments::format::linear::subcomment - sub-comments for linear mode
}%
%TMPL:DEF{"comments::format::linear::subcomment"}%%TMPL:P{"comments::format::linear" subcomment="true"}%%TMPL:END%

%{ ################################################################################ 
   comments::format::threaded - format comments in threaded format
}%
%TMPL:DEF{"comments::format::threaded"}%<div class='cmtCommentContainer clearfix cmtComment$evenodd%IF{"context authenticated and $isnew" then=" cmtCommentNew"}%%IF{"context authenticated and $isupdated" then=" cmtCommentUpdated"}%%IF{"$COMMENTMODERATION='on' and '$state'=~'\bunapproved\b'" then=" cmtCommentNeedsApproval"}%' id='cmtComment$index'>
  <div id='comment$id' class='cmtComment' data-comment-id="$id" data-index="$index" data-author="$percntGETTOPICTITLE{%USERSWEB%.$author}$percnt" data-date="$date">
    <h3 class='foswikiRight cmtCommentNr'>$index</h3>
    %TMPL:P{
      "comment::photo" 
      web="%USERSWEB%" 
      topic="%TMPL:P{"comment::author" author="$author"}%"
    }%%{}%
    %IF{"'%subcomment%'!='true'" 
       then="%TMPL:P{"comment::title"}%"
    }%%{}%
    %TMPL:P{"comment::text"}%%{}%
    %TMPL:P{"comment::controls"}%%{}%
    %TMPL:P{"comment::approval"}%%{}%
    %TMPL:P{"comment::info"}%%CLEAR%
  </div> $subcomments
  %IF{"'%subcomment%'!='true'"
    then="%TMPL:P{"comment::reply"}%"
  }%%{}%
  <span id='bottomcomment$id'></span>
</div>%TMPL:END%

%TMPL:DEF{"comment::author"}%%IF{
  "'%USERINFO{"%author%" format="$wikiname"}%'=''"
  then="nobody"
  else="%USERINFO{"%author%" format="$wikiname"}%"
}%%TMPL:END%

%{ ################################################################################ 
   comments::format::threaded::subcomment - sub-comments for linear mode
}%
%TMPL:DEF{"comments::format::threaded::subcomment"}%%TMPL:P{"comments::format::threaded" subcomment="true"}%%TMPL:END%

%{ ################################################################################ 
   comments::format::reverse - format comments in reverse mode
}%
%TMPL:DEF{"comments::format::reverse"}%<div class='cmtCommentContainer clearfix cmtComment$evenodd%IF{"context authenticated and $isnew" then=" cmtCommentNew"}%%IF{"context authenticated and $isupdated" then=" cmtCommentUpdated"}%%IF{"$COMMENTMODERATION='on' and '$state'=~'\bunapproved\b'" then=" cmtCommentNeedsApproval"}%' id='cmtComment$index'>
  <div id='comment$id' class='cmtComment' data-comment-id="$id" data-index="$index" data-author:"$percntGETTOPICTITLE{%USERSWEB%.$author}$percnt" data-date="$date">
    <h3 class='foswikiRight cmtCommentNr'>$index</h3>
    %TMPL:P{
      "comment::photo" 
      web="%USERSWEB%" 
      topic="%TMPL:P{"comment::author" author="$author"}%"
    }%%{}%
    %IF{"'%subcomment%'!='true'" 
       then="%TMPL:P{"comment::title"}%"
    }%%{}%
    %TMPL:P{"comment::text"}%%{}%
    %TMPL:P{"comment::controls"}%%{}%
    %TMPL:P{"comment::approval"}%%{}%
    %TMPL:P{"comment::info"}%%CLEAR% 
    <span id='bottomcomment$id'></span>
  </div>
</div>%TMPL:END%
%TMPL:DEF{"comments::format::insidetab"}%%TMPL:P{"comments::format::reverse"}%%TMPL:END%

%{ ################################################################################ 
   comments::confirmdelete - dialog to confirm a delete
}%
%TMPL:DEF{"comments::confirmdelete"}%<div id="cmtConfirmDelete" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="350" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Delete comment?"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm" name="confirm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/deleteComment" method="post" data-message="%MAKETEXT{"Deleting comment"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="comment_id" value="" />
    <input type="hidden" name="index" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      %MAKETEXT{"Are you sure that you want to delete comment [_1] posted by [_2] on [_3]?" 
        args="<span class='cmtCommentNr'></span>, <span class='cmtAuthor'></span>, <span class='cmtDate'></span>"
      }%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, delete"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comments::confirmdeleteall - dialog to confirm delete _all_ comments
}%
%TMPL:DEF{"comments::confirmdeleteall"}%<div id="cmtConfirmDeleteAll" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="350" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Delete all comments?"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm" name="confirm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/deleteAllComments" method="post" data-message="%MAKETEXT{"Deleting all comments"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      %MAKETEXT{"Are you sure that you want to delete all comments ?"}%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, delete all"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comments::confirmapproveall - dialog to confirm approving _all_ comments
}%
%TMPL:DEF{"comments::confirmapproveall"}%<div id="cmtConfirmApproveAll" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="350" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Approve all comments?"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm" name="confirm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/approveAllComments" method="post" data-message="%MAKETEXT{"Approving all comments"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      %MAKETEXT{"Are you sure that you want to approve all comments?"}%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, approve all"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comments::confirmmarkall - dialog to confirm approving _all_ comments
}%
%TMPL:DEF{"comments::confirmmarkall"}%<div id="cmtConfirmMarkAll" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="350" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Mark all comments?"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm" name="confirm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/markAllComments" method="post" data-message="%MAKETEXT{"Marking all comments"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      %MAKETEXT{"Are you sure that you want to mark all comments as read?"}%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, mark all"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%


%{ ################################################################################ 
   comments::confirmapprove - dialog to confirm an approval
}%
%TMPL:DEF{"comments::confirmapprove"}%<div id="cmtConfirmApprove" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="350" data-modal="true" data-draggable="true" data-resizable="false"" title="%MAKETEXT{"Approve comment?"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm" name="approve" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/approveComment" method="post" data-message="%MAKETEXT{"Approving comment"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="comment_id" value="" />
    <input type="hidden" name="index" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      %MAKETEXT{"Are you sure that you want to approve comment [_1] posted by [_2] on [_3]?" 
        args="<span class='cmtCommentNr'></span>, <span class='cmtAuthor'></span>, <span class='cmtDate'></span>"
      }%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-circle-check">%MAKETEXT{"Yes, approve"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comments::updater - ui to edit one comment
}%
%TMPL:DEF{"comments::updater"}%<div id="cmtUpdateComment" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="800" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Edit comment"}%" style="display:none" >
  <form class="cmtJsonRpcForm cmtModalForm naviBlocker" name="updater" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/updateComment" method="post" data-message="%MAKETEXT{"Updating comment"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="comment_id" value="" />
    <input type="hidden" name="index" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep cmtTitleStep">
      <input type="text" size="60" name="title" class="foswikiInputField" value="" />
      <label for="title"><strong>%MAKETEXT{"Title"}%</strong></label>
    </div>
    <div class="foswikiFormStep">
      <textarea class="foswikiTextarea natedit" wrap="virtual" name="text" style="width:100%" rows="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="%TMPL:P{"textarea::spellcheck"}%" %TMPL:P{"textarea::metadata"}%></textarea>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-circle-check">%MAKETEXT{"OK"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comments::replier - ui to reply to a comment
}%
%TMPL:DEF{"comments::replier"}%<div id="cmtReplyComment" class="cmtDialog jqUIDialog foswikiFormSteps" data-width="800" data-modal="true" data-draggable="true" data-resizable="false" title="%MAKETEXT{"Reply on comment"}%" style="display:none">
  <form class="cmtJsonRpcForm cmtModalForm naviBlocker" name="replier" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/saveComment" method="post" data-message="%MAKETEXT{"Submitting comment"}%">
    <input type="hidden" name="topic" value="" />
    <input type="hidden" name="ref" value="" />
    <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
    <div class="foswikiFormStep">
      <textarea class="foswikiTextarea natedit" wrap="virtual" name="text" style="width:100%" rows="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="%TMPL:P{"textarea::spellcheck"}%" %TMPL:P{"textarea::metadata"}%></textarea>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-comment">%MAKETEXT{"OK"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ 
   comment::photo - renders an image of the commenter
}%
%TMPL:DEF{"comment::photo"}%%TMPL:P{
  context="TopicInteractionPluginEnabled" 
  then="comment::photo::tip" 
  else="comment::photo::default"
  web="%web%"
  topic="%IF{"'%topic%'!=''" then="%topic%" else="WikiGuest"}%"
  align="%align%"
}%%TMPL:END%

%TMPL:DEF{"comment::photo::exts"}%jpe?g|gif|png|bmp|webp|svg|ico|tiff?|xcf|psd|JE?PG|GIF|PNG|BMP|WEBP|SVG|ICO|TIFF|XCF|PSD?%TMPL:END%

%TMPL:DEF{"comment::photo::default"}%%IMAGE{
  "%IF{"'%web%.%topic%'/Photo"
    then="$percntFORMFIELD{\"Photo\" topic=\"%web%.%topic%\"}$percnt" 
    else="%IF{"'%web%.%topic%'/attachments[name=~'\.(%TMPL:P{"comment::photo::exts"}%)$']"
      then="%QUERY{"'%web%.%topic%'/attachments[name=~'\.(%TMPL:P{"comment::photo::exts"}%)'][0].name"}%"
      else="%PUBURLPATH%/%SYSTEMWEB%/MetaCommentPlugin/nobody.png"
    }%"
  }%"
  topic="%web%.%topic%"
  type="plain"
  align="%IF{"'%align%'=~'^(left|right)$'" then="%align%" else="left"}%"
  href="%SCRIPTURLPATH{"view"}%/%web%/%topic%"
  size="48x48>^"
  crop="on"
  title=""
}%%TMPL:END%

%TMPL:DEF{"comment::photo::tip"}%%IMAGE{
  "%IF{"'%web%.%topic%'/Photo"
    then="$percntFORMFIELD{\"Photo\" topic=\"%web%.%topic%\"}$percnt" 
    else="$percntATTACHMENTS{
      topic=\"%web%.%topic%\"
      sort=\"comment:name\"
      nullformat=\"$percntATTACHMENTS{
        topic=\"%web%.%topic%\"
        sort=\"comment:name\"
        name=\".*\.(%TMPL:P{"comment::photo::exts"}%)\"
        nullformat=\"%PUBURLPATH%/%SYSTEMWEB%/MetaCommentPlugin/nobody.png\"
        format=\"$dollarname\"
        limit=\"1\"
      }$percnt\"
      format=\"$dollarname\"
      limit=\"1\"
    }$percnt"
  }%"
  topic="%web%.%topic%"
  type="plain"
  align="%IF{"'%align%'=~'^(left|right)$'" then="%align%" else="left"}%"
  href="%SCRIPTURLPATH{"view"}%/%web%/%topic%"
  size="48x48>^"
  crop="on"
  title=""
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::title"}%%IF{"defined ADDCOMMENTTITLE" then="%ADDCOMMENTTITLE%" else="%MAKETEXT{"Add a comment"}%"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::formstart"}%<h2 id='addcomment' class='cmtAddCommentTitle'>%TMPL:P{"comments::title"}%</h2>
<form class="cmtJsonRpcForm naviBlocker" name="addCommentForm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaCommentPlugin/saveComment" method="post" data-message="%MAKETEXT{"Submitting comment"}%">
<input type="hidden" name="topic" value="%TMPL:P{"comments::topic"}%" />
<input type="hidden" name="ref" value="" />
<input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::formend"}%</form>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::namestep"}%<div class="foswikiFormStep">
  <input class="foswikiInputField" type="text" size="60" name="author" value="%IF{"$WIKINAME!='%USERINFO{"guest" format="wikiname"}%'" then="%WIKINAME%"}%" />
  <label for="author"><strong>%MAKETEXT{"Name"}%</strong></label>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::namestep::hidden"}%<input type="hidden" name="author" value="%IF{"$WIKINAME!='%USERINFO{"guest" format="wikiname"}%'" then="%WIKINAME%"}%" />%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::titlestep"}%<div class="foswikiFormStep">
  <input class="foswikiInputField" type="text" name="title" size="60" %IF{"not context canComment" then="disabled='disabled'"}% />
  <label for="title"><strong>%MAKETEXT{"Title"}%</strong></label>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::textstep"}%<div class="foswikiFormStep">
  <textarea class="foswikiTextarea natedit" wrap="virtual" name="text"  rows="%ROWS%" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="%TMPL:P{"textarea::spellcheck"}%" %TMPL:P{"textarea::metadata"}% %IF{"not context canComment" then="disabled='disabled'"}% %IF{"'%PLACEHOLDER%'!=''" then="placeholder='%PLACEHOLDER%'"}%></textarea>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::buttonstep"}%<div class="foswikiFormStep foswikiFormLast foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"Submit"}%" icon="tick" type="save" class="%IF{"not context canComment" then="jqButtonDisabled"}%"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" type="reset" class="%IF{"not context canComment" then="jqButtonDisabled"}%"}%
</div>%TMPL:END%
